---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Creative and versatile professional with expertise in graphic design, logo design, video editing, transcription, and writing. Adept at transforming concepts into visually compelling designs, engaging content, and polished videos. Proven track record of delivering high-quality work that resonates with audiences and enhances brand identity. Experienced in collaborating with teams and clients to bring their vision to life.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Arts"
      subtitle="[2020] to [2024] at [MKU University], [Nairobi], [Kenya]"
    />
    <TimeLineElement
      title="Graphic Design"
      subtitle="[2018] to [2020] at [Multi-Media Collage], [Nairobi], [Kenya]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Graphic Designer & Video Editor"
      subtitle="From [2024] to [Present] at [KopoKopo], [Nairobi], [Kenya]"
    >
    Developed and executed design solutions for digital platforms, print materials, and marketing campaigns, ensuring alignment with client brand guidelines.
    Designed and edited promotional videos, social media content, and internal presentations, enhancing visual storytelling and engagement.
    Collaborated with marketing and content teams to deliver cohesive design and multimedia solutions for diverse clients.
    Managed multiple projects simultaneously, consistently meeting deadlines while maintaining high-quality standards.
    </TimeLineElement>
    <TimeLineElement
      title="Freelance Graphic Designer & Content Creator"
      subtitle="From [2022] to [2024] at [Revivo], [Nairobi], [Kenya]"
    >
    Designed logos, websites, and brand identities for small businesses, helping them stand out in competitive markets.
    Provided transcription services for podcasts, interviews, and webinars, delivering precise and clear written content.
    Created engaging written content, including blog posts, articles, and website copy, tailored to audience needs and SEO best practices.
    Edited videos for clients in various industries, from promotional videos to educational content, ensuring high production value.
    </TimeLineElement>
    <TimeLineElement
      title="Transcriptionist"
      subtitle="From [2024] to [Present] at [EchoLabs], [Remote]"
    >
    Accurately transcribe audio and video files, including interviews, podcasts, webinars, and meetings, ensuring clarity and precision in all transcriptions.
    Edit and proofread transcripts to ensure they meet high-quality standards, maintaining proper formatting, grammar, and punctuation.
    Collaborate with clients and team members to ensure that transcription projects are delivered on time and meet specific requirements.
    Adapt transcriptions to various formats (e.g., Word, PDF) for easy accessibility and usability.
    Maintain confidentiality and handle sensitive information with the utmost professionalism.
    Utilize transcription tools and software to enhance efficiency while ensuring high levels of accuracy.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Google UX Design Certificate (Focuses on user-centered design, an asset if you work on web design or user interfaces.)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Adobe Certified Expert (ACE) in Premiere Pro or After Effects</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Graphic Design: Adobe Creative Suite (Photoshop, Illustrator, InDesign)</li>
    <li>Logo Design: Branding, Concept Development, Typography</li>
    <li>Video Editing: Adobe Premiere Pro, Final Cut Pro, After Effects</li>
    <li>Writing: Content Creation, SEO, Copywriting, Blogging</li>
    <li>Transcription: Audio-to-text, Editing for clarity and flow</li>
    <li>Communication: Client Collaboration, Project Management, Teamwork</li>
    
  </ul>
</BaseLayout>
