---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Services Header</div>
  </div>

  <HorizontalCard
    title="Video Editing"
    img="/post_img.webp"
    desc="Turning raw footage into captivating stories, I specialize in video editing that enhances your message. From seamless transitions to stunning visuals, I bring your videos to life with creativity and precision. Let's create a masterpiece that grabs attention and keeps viewers hooked!"
    badge="NEW"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Writing"
    img="/post_img.webp"
    desc="With a passion for storytelling and precision, I create compelling written content that resonates with your audience. Whether it’s blog posts, articles, or website copy, I bring your ideas to life with clarity and creativity. Let’s craft words that engage and inspire!"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Transcribing"
    img="/post_img.webp"
    desc="Words come to life through transcription! I turn audio and video content into accurate, clear, and well-organized text. Whether it's interviews, podcasts, or meetings, I ensure your message is captured perfectly in writing."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Logo Design"
    img="/post_img.webp"
    desc="Your brand deserves a logo that speaks volumes—unique, memorable, and designed to stand out. I specialize in creating logos that capture your essence and make a lasting impression. Let’s build a visual identity that truly represents who you are!"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Graphic Design"
    img="/post_img.webp"
    desc="Transforming ideas into vibrant visuals, I craft custom graphic designs that tell your story and captivate your audience. From sleek logos to eye-catching websites, I bring creativity and precision to every project. Let’s collaborate to make your brand unforgettable!"
    url="#"
  />
</BaseLayout>
